<footer class="site-footer">
	<div class="site-footer__wrapper">
		<article class="article-about">
			<header class="article-about__header">
				<h3 class="font--bebas--20">about jetro</h3>
			</header>
			<section class="article-about__text">
				<p class="font--helvetica--12">Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.</p>
<p>Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.</p>
			</section>
		</article>
		<div class="twitter-widget">
			<header class="twitter-widget__header">
				<h3 class="font--bebas--20">twitter widget</h3>
			</header>
			<section class="twitter-widget__tweets">
				<div class="tweet">
					<p class="tweet__text font--helvetica--12">
						<a href="#" class="tweet__author font--helvetica--12">@pixelmater</a>
						What an awesome design with great functionality :)</p>
					<p class="tweet__datetime font--helvetica--12">about 1 hour ago</p>
				</div>
				<div class="tweet">
					<p class="tweet__text font--helvetica--12">
						<a href="#" class="tweet__author font--helvetica--12">@designdude</a>
						What an awesome design with great functionality :)</p>
					<p class="tweet__datetime font--helvetica--12">about 2 hour ago</p>
				</div>
			</section>
			<footer class="twitter-widget__follow-link">
				Follow <a href="#" class="font--helvetica--12">@bestpsdfreebies</a>
			</footer>
		</div>
		<section class="contacts">
			<header class="contacts__header">
				<h3 class="font--bebas--20">contact us</h3>
			</header>
			<section class="contacts__address">
				<p class="contacts__text font--helvetica--12">
					Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri.
				</p>
				<p class="contacts__email font--helvetica--12">information@jetro.com</p>
				<p class="contacts__phone font--helvetica--12">1.222.333.4444</p>
			</section>
			<footer class="contacts__social-links">
				<a href="#" class="social-link social-link--facebook"></a>
				<a href="#" class="social-link social-link--twitter"></a>
				<a href="#" class="social-link social-link--email"></a>
				<a href="#" class="social-link social-link--rss"></a>
				<a href="#" class="social-link social-link--vimeo"></a>
			</footer>
		</section>
	</div>
</footer>