<header class="site-header">
	<h1 class="site-logo">
		<a href="index.html">
			<span class="site-logo--darkred">jet</span><span class="site-logo--lightred">ro</span>
		</a>
	</h1>
	<nav class="site-menu">
		<ul class="menu">
			<li class="menu__item">
				<a href="index.html" class="menu__link menu__link--active font--bebas--16">home</a>
			</li>
			<li class="menu__item">
				<a href="about.html" class="menu__link font--bebas--16">about us</a>
			</li>
			<li class="menu__item">
				<a href="blog.html" class="menu__link font--bebas--16">blog</a>
			</li>
			<li class="menu__item">
				<a href="portfolio.html" class="menu__link font--bebas--16">portfolio</a>
			</li>
			<li class="menu__item">
				<a href="contacts.html" class="menu__link font--bebas--16">contact us</a>
			</li>
		</ul>
	</nav>
</header>